<mat-card>
  <mat-card-header layout="row" class="center">
    <img src="../../../assets/images/wavelogo.png" height="100" width="100" />
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="generatorForm" novalidate>
      <div layout="row" class="pad-left-sm pad-bottom-sm">
        <mat-form-field flex>
          <mat-select placeholder="Choose Vendor" formControlName="vendorid">
            <mat-option *ngFor="let vendor of vendors" [value]="vendor">{{vendor.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="pickedVendor" layout="row" class="pad-left-sm pad-bottom-sm">
        <mat-form-field flex>
          <mat-select placeholder="Choose Purchase Order" formControlName="purchaseid">
            <mat-option *ngFor="let purchase of vendorsPurchases" [value]="purchase">{{purchase.id}}. {{purchase.podate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br/>
      <div *ngIf="hasPurchases" class="row">
        <table style="top:-30px;position:relative;">
          <tr>
            <th colspan="2" class="pad-xs md-subhead" style="font-weight:bold;padding-right:2vh; padding-top:2vh; padding-bottom:2vh; text-align: left">
              Purchase Order: {{selectedPurchase.id}}
            </th>
            <th colspan="2" class="pad-xs md-subhead" style="font-weight:bold; padding-left:2vh; padding-top:2vh; padding-bottom:2vh; text-align: right">
              Date: {{selectedPurchaseDate}}
            </th>
          </tr>
          <tr style="font-weight:bold;;background-color: #eeeeee">
            <td style="text-align: center;width:25%;padding-top:2vh;padding-bottom: 2vh;">Name</td>
            <td style="text-align: center;width:25%;padding-top:2vh;padding-bottom: 2vh;">Qty</td>
            <td style="text-align: center;width:25%;padding-top:2vh;padding-bottom: 2vh;">Cost</td>
            <td style="text-align: center;width:25%;padding-top:2vh;padding-bottom: 2vh;">Extended</td>
          </tr>
          <tr *ngFor="let item of items">
            <td style="padding-top:1vh;padding-bottom: 1vh; text-align: left">{{getProductName(item)}}</td>
            <td style="padding-top:1vh;padding-bottom: 1vh; text-align: center">{{item.qty}}</td>
            <td style="padding-top:1vh;padding-bottom: 1vh; text-align: right">{{item.price | currency:'USD':'symbol':'1.2-2'}}</td>
            <td style="padding-top:1vh;padding-bottom: 1vh;text-align: right">{{item.price * item.qty | currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
          <tr>
            <td colspan="3" style="text-align: right;padding-right: 5px;">Sub Total:</td>
            <td class="my-primary-text" style="font-weight: 600;text-align: right;">{{subtotal | currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
          <tr>
            <td colspan="3" style="text-align: right;padding-right: 5px;">Tax:</td>
            <td class="my-primary-text" style="font-weight: 600;text-align: right;">{{tax | currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
          <tr>
            <td colspan="3" style="text-align: right;padding-right: 5px;">Total:</td>
            <td class="my-primary-text" style="font-weight: 600;text-align: right;">{{total | currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
        </table>
      </div>
      <div style="text-align:center;" *ngIf="hasPurchases">
        <button mat-raised-button color="primary" (click)="viewPdf()">View PDF</button>
      </div>
    </form>
    <span class="mat-subheading-1" style="position:absolute; right: 4vw; color: aquamarine">{{ msg }}</span>
    <br/>
  </mat-card-content>
</mat-card>
