<mat-card>
  <mat-card-header layout="row" class="center">
    <img src="../../../assets/images/wavelogo.png" height="100" width="100" />
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="generatorForm" novalidate>
      <div layout="row" class="pad-left-sm pad-bottom-sm">
        <mat-form-field flex>
          <mat-select placeholder="Choose Vendor" formControlName="vendorid">
            <mat-option *ngFor="let vendor of vendors" [value]="vendor">{{vendor.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="pickedVendor" layout="row" class="pad-left-sm pad-bottom-sm">
        <mat-form-field flex>
          <mat-select placeholder="Choose Product" formControlName="productid" (change)="onPickProduct()">
            <mat-option *ngFor="let product of vendorproducts" [value]="product">{{product.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="pickedProduct" layout="row" class="pad-left-sm pad-bottom-sm">
        <mat-form-field flex>
          <mat-select matInput placeholder="Choose Qty" formControlName="qtyid" (change)="onPickQty()">
            <mat-option value="EOQ">EOQ</mat-option>
            <mat-option value="0">0</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br/>
      <div *ngIf="hasProducts" class="row">
        <table style="top:-30px;position:relative;">
          <tr>
            <th colspan="3" class="pad-xs text-center md-subhead" style="font-weight:bold;padding:2vh;">
              Product Items for {{selectedVendor.name}}
            </th>
          </tr>
          <tr style="font-weight:bold;;background-color: #eeeeee">
            <td style="text-align: center;width:30%;padding-top:2vh;padding-bottom: 2vh;">Product</td>
            <td style="text-align: center;width:30%;padding-top:2vh;padding-bottom: 2vh;">Qty</td>
            <td style="text-align: center;width:30%;padding-top:2vh;padding-bottom: 2vh;">Extended</td>
          </tr>
          <tr *ngFor="let item of items">
            <td style="padding-top:1vh;padding-bottom: 1vh; text-align: center">{{item.productid}}</td>
            <td style="padding-top:1vh;padding-bottom: 1vh; text-align: center">{{item.qty}}</td>
            <td style="padding-top:1vh;padding-bottom: 1vh;text-align: right">{{item.price * item.qty| currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: right;padding-right: 5px;">Sub Total:</td>
            <td class="my-primary-text" style="font-weight: 600;text-align: right;">{{subtotal | currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: right;padding-right: 5px;">Tax:</td>
            <td class="my-primary-text" style="font-weight: 600;text-align: right;">{{tax | currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: right;padding-right: 5px;">Total:</td>
            <td class="my-primary-text" style="font-weight: 600;text-align: right;">{{total | currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
        </table>
      </div>
      <div style="text-align:left;" *ngIf="hasProducts" >
        <button mat-raised-button color="primary" (click)="createPurchase()">Add PO</button>
      </div>
      <div style="text-align:center;" *ngIf="generated">
        <button mat-raised-button type="submit" (click)="viewPdf()">View PDF</button>
      </div>
    </form>
    <span class="mat-subheading-1" style="position:absolute; right: 4vw; color: aquamarine">{{ msg }}</span>
    <br/>
  </mat-card-content>
</mat-card>
