
<mat-card *ngIf="hideEditForm" style="margin-bottom: 10vh;">
  <mat-card-header layout="row" class="center">
      <img src="../../assets/images/wavelogo.png" height="100" width="100" />
<!--    <mat-card-title style="margin-bottom: 4vh;">-->
<!--      <span>{{ msg }}</span>-->
<!--    </mat-card-title>-->
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product No.</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <!-- Vendor Id Column -->
      <ng-container matColumnDef="vendorid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor No.</th>
        <td mat-cell *matCellDef="let element"> {{element.vendorid}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)">></tr>
    </table>
    <div class="padtop15">
      <mat-icon (click)="newProduct()" matTooltip="Add New Product" class="addicon" color="primary" >
        control_point
      </mat-icon>
    </div>
    <span class="mat-subheading-1" style="position:absolute; right: 4vw; color: aquamarine">{{ msg }}</span>
    <br/>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="!hideEditForm">
  <div class="center">
    <div class="center">
      <img src="../../assets/images/wavelogo.png" height="50" width="50" class="center" style="margin-bottom: 10px"/>
    </div>
  </div>
  <mat-card-header layout="row">
    <mat-card-title><span>{{ msg }}</span></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-product-detail [selectedProduct]="selectedProduct"
                        [vendors]="vendors"
                        [products]="products"
                        (cancelled)="cancel('cancelled')"
                        (saved)="save($event)"
                        (deleted)="delete($event)">
    </app-product-detail>
  </mat-card-content>
</mat-card>
<mat-paginator #paginator
               [length]="totalElements"
               [pageSize]="5"
               (page)="changePage($event)">
</mat-paginator>
