// custom theme
@import "custom-theme.scss";
.my-primary-text {
  color: mat-color($my-app-primary);
}
.my-accent-text {
  color: mat-color($my-app-accent);
}

mat-list-item:nth-child(odd){
  background-color:white;
}
mat-list-item:nth-child(even) {
  background-color:#eeeeee;
}

.padtop15 {
  padding-top: 15%;
}
.material-icons.addicon {
  font-size: 10vw;
  position:absolute;
  bottom:4vh;
  left:4vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

mat-form-field { margin-left: 5%;width:90%; }

.mat-row:nth-child(odd){
  background-color:#eeeeee;
  text-align: center;
}
.mat-row.ng-star-inserted:nth-child(even) {
  background-color: white;
  text-align: center;
}
table {
  width: 100%;
}
button.mat-sort-header-button {
  margin-left: 5vw;
}

.custommodal {
  mat-dialog-container {
    background-color: white;
    color: mat-color($my-app-primary);
    font-weight: bold;
  }
}
#deleteNo, #deleteYes {
  background-color: mat-color($my-app-primary);
  color: white;
}

