<mat-card align="center">
  <mat-card-content>
    <div class="mat-title my-primary-text">
      <h3>INFO5059 Case Study</h3>
      <img src="../../assets/images/wavelogo.png" height="100" width="100" />
      <br/>
      <span style="font-size:x-small;">v1.0</span>
    </div>
  </mat-card-content>
  <mat-card-footer align="end" class="my-accent-text">
    &copy;Info5059 - 2019
  </mat-card-footer>
</mat-card>
